<?xml version="1.0" encoding="utf-8"?><testsuites name="pytest tests"><testsuite name="pytest" errors="0" failures="0" skipped="0" tests="1" time="0.028" timestamp="2026-01-30T15:24:16.638093+05:30" hostname="Shantharams-MacBook-Air.local"><testcase classname="tests.api_detection.java.test_spring_detector" name="test_spring_detector_identifies_mappings" time="0.002" /></testsuite></testsuites>